<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd ">

	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-- 指定连接数据库的URL -->
		<property name="url" value="jdbc:mysql://localhost:3306/booklib" />
		<!-- 指定连接数据库的用户名 -->
		<property name="username" value="root" />
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="123456" />
	</bean>

	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.current_session_context_class">thread</prop> 
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true </prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="sql_format">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			
			<!-- 指定hibernate映射文件 -->
			<list>
				<value>booklib/model/Booklib.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- load blank.jsp action -->
	<bean id="load_blank" class="booklib.action.LoadBlankAction" scope="prototype"></bean>
	
	<!-- System User Manage -->
	<!-- DAO配置 -->
	<bean id="systemUserDAO" class="booklib.dao.impl.SystemUserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Service配置 -->
	<bean id="systemUserService" class="booklib.service.impl.SystemUserServiceImpl">
		<property name="systemUserDAO" ref="systemUserDAO"></property>
	</bean>
	
	<!-- Action配置 -->
	<!-- login -->
	<bean id="login" class="booklib.action.systemuser.LoginAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- manage user -->
	<bean id="manage_user" class="booklib.action.systemuser.LoadUserAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- load add user -->
	<bean id="load_add_user" class="booklib.action.systemuser.LoadAddUserAction" scope="prototype"></bean>
	
	<!-- add new user -->
	<bean id="add_user" class="booklib.action.systemuser.AddUserAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- load modify user -->
	<bean id="load_modify_user" class="booklib.action.systemuser.LoadModifyUserAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- modify user -->
	<bean id="modify_user" class="booklib.action.systemuser.ModifyUserAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- load modify password -->
	<bean id="load_modify_pwd" class="booklib.action.systemuser.LoadModifyPwdAction" scope="prototype"></bean>
	
	<!-- modify pwd -->
	<bean id="modify_pwd" class="booklib.action.systemuser.ModifyPwdAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- delete user -->
	<bean id="delete_user" class="booklib.action.systemuser.DeleteUserAction" scope="prototype">
		<property name="systemUserService" ref="systemUserService"></property>
	</bean>
	
	<!-- Action配置结束 -->
	<!-- End System User Manage -->
	
	
	<!-- Reader Type Manage -->
	<!-- DAO配置 -->
	<bean id="readerTypeDAO" class="booklib.dao.impl.ReaderTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- Service配置 -->
	<bean id="readerTypeService" class="booklib.service.impl.ReaderTypeServiceImpl">
		<property name="readerTypeDAO" ref="readerTypeDAO"></property>
	</bean>
	
	<!-- Action配置 -->
	<!-- manage reader type -->
	<bean id="manage_reader_type" class="booklib.action.readertype.LoadReaderTypeAction" scope="prototype">
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- load add reader type -->
	<bean id="load_add_reader_type" class="booklib.action.readertype.LoadAddReaderTypeAction" scope="prototype"></bean>
	
	<!-- add reader type -->
	<bean id="add_reader_type" class="booklib.action.readertype.AddReaderTypeAction" scope="prototype">
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- load modify reader type -->
	<bean id="load_modify_reader_type" class="booklib.action.readertype.LoadModifyReaderTypeAction" scope="prototype">
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- modify reader type -->
	<bean id="modify_reader_type" class="booklib.action.readertype.ModifyReaderTypeAction" scope="prototype">
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- delete reader type -->
	<bean id="delete_reader_type" class="booklib.action.readertype.DeleteReaderTypeAction" scope="prototype">
		<property name="readerTypeService" ref="readerTypeService"></property>
		<property name="readerService" ref="readerService"></property>
	</bean>
	
	<!-- End Action配置 -->
	<!-- End Reader Type Manage -->
	
	<!-- Reader Manage -->
	<!-- DAO配置 -->
	<bean id="readerDAO" class="booklib.dao.impl.ReaderDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service配置 -->
	<bean id="readerService" class="booklib.service.impl.ReaderServiceImpl">
		<property name="readerDAO" ref="readerDAO"></property>
	</bean>
	
	<!-- Action配置 -->
	<!-- load reader manage -->
	<bean id="manage_reader" class="booklib.action.reader.LoadReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- load add reader -->
	<bean id="load_add_reader" class="booklib.action.reader.LoadAddReaderAction" scope="prototype">
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- add reader -->
	<bean id="add_reader" class="booklib.action.reader.AddReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- load modify reader -->
	<bean id="load_modify_reader" class="booklib.action.reader.LoadModifyReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
	</bean>
	
	<!-- modify reader -->
	<bean id="modify_reader" class="booklib.action.reader.ModifyReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- stop reader -->
	<bean id="stop_reader" class="booklib.action.reader.StopReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- start reader -->
	<bean id="start_reader" class="booklib.action.reader.StartReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- delete reader -->
	<bean id="delete_reader" class="booklib.action.reader.DeleteReaderAction" scope="prototype">
		<property name="readerService" ref="readerService"></property>
		<property name="readerTypeService" ref="readerTypeService"></property>
	</bean>
	
	<!-- End Action配置 -->
	<!-- End Reader Manage -->
	
	<!-- Publisher Manage -->
	<!-- DAO -->
	<bean id="publisherDAO" class="booklib.dao.impl.PublisherDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- service -->
	<bean id="publisherService" class="booklib.service.impl.PublisherServiceImpl">
		<property name="publisherDAO" ref="publisherDAO"></property>
	</bean>
	
	<!-- action -->
	<!-- load manage publisher -->
	<bean id="manage_publisher" class="booklib.action.publisher.LoadPublisherAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<!-- load add new publisher -->
	<bean id="load_add_publisher" class="booklib.action.publisher.LoadAddPublisherAction" scope="prototype"></bean>
	
	<!-- add publisher -->
	<bean id="add_publisher" class="booklib.action.publisher.AddPublisherAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<!-- load modify publisher -->
	<bean id="load_modify_publisher" class="booklib.action.publisher.LoadModifyPublisherAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<!-- modify publisher -->
	<bean id="modify_publisher" class="booklib.action.publisher.ModifyPublisherAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<!-- delete publisher -->
	<bean id="delete_publisher" class="booklib.action.publisher.DeletePublisherAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
		<property name="bookService" ref="bookService"></property>
	</bean>
	
	<!-- end action -->
	<!-- End Publisher Manage -->
	
	<!-- book manage -->
	<!-- DAO -->
	<bean id="bookDAO" class="booklib.dao.impl.BookDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- service -->
	<bean id="bookService" class="booklib.service.impl.BookServiceImpl">
		<property name="bookDAO" ref="bookDAO"></property>
	</bean>
	
	<!-- action -->
	<!-- load book manage -->
	<bean id="book" class="booklib.action.book.LoadBookAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
		<property name="bookService" ref="bookService"></property>
	</bean>
	
	<bean id="load_add_book" class="booklib.action.book.LoadAddBookAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<bean id="add_book" class="booklib.action.book.AddBookAction" scope="prototype">
		<property name="bookService" ref="bookService"></property>
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<bean id="load_modify_book" class="booklib.action.book.LoadModifyBookAction" scope="prototype">
		<property name="bookService" ref="bookService"></property>
	</bean>
	
	<bean id="modify_book" class="booklib.action.book.ModifyBookAction" scope="prototype">
		<property name="bookService" ref="bookService"></property>
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<bean id="stop_book" class="booklib.action.book.StopBookAction" scope="prototype">
		<property name="bookService" ref="bookService"></property>
		<property name="publisherService" ref="publisherService"></property>
	</bean>
	
	<bean id="search_barcode" class="booklib.action.book.SearchBarcodeAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
		<property name="bookService" ref="bookService"></property>
	</bean>
	
	<bean id="search_bookname" class="booklib.action.book.SearchBooknameAction" scope="prototype">
		<property name="publisherService" ref="publisherService"></property>
		<property name="bookService" ref="bookService"></property>
	</bean>
	
	<!-- end action -->
	<!-- end book manage -->
	
	<!-- book lend record Manage -->
	<!-- DAO -->
	<bean id="bookLendRecordDAO" class="booklib.dao.impl.BookLendRecordDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- service -->
	<bean id="bookLendRecordService" class="booklib.service.impl.BookLendRecordServiceImpl">
		<property name="bookLendRecordDAO" ref="bookLendRecordDAO"></property>
		<property name="bookDAO" ref="bookDAO"></property>
	</bean>
	
	<!-- action -->
	<!-- load borrow book -->
	<bean id="book_borrow" class="booklib.action.booklendrecord.LoadBookBorrowAction" scope="prototype"></bean>
	
	<!-- borrow book -->
	<bean id="borrow" class="booklib.action.booklendrecord.BookBorrowAction" scope="prototype">
		<property name="bookLendRecordService" ref="bookLendRecordService"></property>
		<property name="readerService" ref="readerService"></property>
		<property name="bookService" ref="bookService"></property>
	</bean>
	<!-- end action -->
	
	<!-- load return book -->
	<bean id="book_return" class="booklib.action.booklendrecord.LoadBookReturnAction" scope="prototype"></bean>
	
	<!-- return book -->
	<bean id="return" class="booklib.action.booklendrecord.BookReturnAction" scope="prototype">
		<property name="bookLendRecordService" ref="bookLendRecordService"></property>
	</bean>
	
	<!-- load check book lend record -->
	<bean id="check_book" class="booklib.action.booklendrecord.CheckBookAction" scope="prototype">
		<property name="bookLendRecordService" ref="bookLendRecordService"></property>
	</bean>
	
	<!-- search book lend record -->
	<bean id="check_book_search" class="booklib.action.booklendrecord.CheckBookSearchAction" scope="prototype">
		<property name="bookLendRecordService" ref="bookLendRecordService"></property>
	</bean>
	
	<!-- load check reader lend record -->
	<bean id="check_reader" class="booklib.action.booklendrecord.CheckReaderAction" scope="prototype">
		<property name="bookLendRecordService" ref="bookLendRecordService"></property>
	</bean>
	
	<!-- search reader lend record -->
	<bean id="check_reader_search" class="booklib.action.booklendrecord.CheckReaderSearchAction" scope="prototype">
		<property name="bookLendRecordService" ref="bookLendRecordService"></property>
	</bean>
	
	<!-- end book lend record -->
	
</beans>
               